# Representing categorical Data into Numeric form

In [3]:
import numpy as np
import pandas as pd

In [4]:
exam_data = pd.read_csv('../data/exams.csv', quotechar='"')
exam_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group B,some college,standard,none,72,79,75
1,female,group C,master's degree,free/reduced,none,32,47,46
2,male,group E,some college,free/reduced,none,57,51,48
3,male,group B,bachelor's degree,standard,completed,59,71,66
4,male,group E,master's degree,standard,none,85,76,73
5,female,group A,associate's degree,standard,none,84,95,87
6,male,group C,high school,standard,none,70,82,77
7,female,group E,some high school,standard,none,82,81,82
8,male,group C,associate's degree,standard,completed,76,74,73
9,female,group D,some college,free/reduced,none,64,78,72
10,male,group B,high school,free/reduced,none,63,74,65
11,male,group A,associate's degree,standard,none,88,73,75
12,female,group B,master's degree,standard,completed,65,73,77
13,female,group A,bachelor's degree,standard,none,72,73,73
14,male,group D,high school,free/reduced,none,54,67,62
15,female,group C,associate's degree,free/reduced,completed,65,83,80
16,male,group C,associate's degree,standard,none,62,46,55
17,female,group D,bachelor's degree,standard,none,88,93,100
18,female,group E,high school,standard,none,69,76,76
19,male,group D,some high school,free/reduced,none,68,55,51
20,male,group C,some high school,standard,none,64,62,60
21,female,group C,master's degree,standard,none,80,89,88
22,male,group C,high school,free/reduced,completed,57,66,58
23,female,group E,some high school,standard,completed,82,89,87
24,male,group C,master's degree,standard,none,58,58,61
25,female,group D,some high school,standard,completed,91,99,96
26,male,group C,associate's degree,free/reduced,none,64,71,61
27,female,group E,associate's degree,free/reduced,none,43,51,56
28,female,group D,associate's degree,standard,none,59,71,77
29,male,group D,associate's degree,standard,none,87,80,82
...,...,...,...,...,...,...,...,...
70,female,group C,associate's degree,free/reduced,none,59,66,69
71,male,group B,bachelor's degree,standard,none,41,44,37
72,female,group D,some college,standard,completed,67,81,77
73,female,group E,associate's degree,standard,completed,98,100,100
74,female,group D,bachelor's degree,standard,none,79,84,88
75,male,group E,high school,standard,completed,73,66,66
76,male,group D,bachelor's degree,standard,completed,83,70,78
77,female,group D,some high school,standard,none,43,54,53
78,female,group D,some college,standard,completed,94,98,99
79,female,group E,high school,free/reduced,completed,53,53,59
80,female,group D,high school,standard,completed,83,93,94
81,male,group C,some high school,free/reduced,none,27,24,19
82,male,group A,some college,standard,completed,65,66,64
83,female,group C,bachelor's degree,standard,none,70,79,80
84,male,group C,some college,free/reduced,completed,54,61,64
85,male,group B,associate's degree,standard,none,91,85,79
86,male,group E,high school,standard,completed,100,100,94
87,female,group C,associate's degree,standard,none,78,86,85
88,male,group D,some high school,standard,none,54,40,41
89,male,group A,some college,free/reduced,completed,56,64,58
90,female,group E,associate's degree,free/reduced,completed,60,65,68
91,male,group D,associate's degree,free/reduced,none,73,80,76
92,male,group C,associate's degree,standard,completed,73,78,75
93,male,group A,some college,free/reduced,none,67,62,57
94,female,group E,bachelor's degree,free/reduced,none,90,90,90
95,female,group C,some high school,standard,completed,64,76,76
96,male,group E,associate's degree,free/reduced,none,54,49,46
97,female,group C,high school,standard,none,67,77,75
98,male,group A,master's degree,free/reduced,completed,64,65,65
99,male,group B,bachelor's degree,free/reduced,none,50,50,47

In [6]:
from sklearn import preprocessing

In [8]:
le = preprocessing.LabelEncoder()
exam_data['gender'] = le.fit_transform(exam_data['gender'].astype(str))

In [9]:
exam_data.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,group B,some college,standard,none,72,79,75
1,0,group C,master's degree,free/reduced,none,32,47,46
2,1,group E,some college,free/reduced,none,57,51,48
3,1,group B,bachelor's degree,standard,completed,59,71,66
4,1,group E,master's degree,standard,none,85,76,73
5,0,group A,associate's degree,standard,none,84,95,87
6,1,group C,high school,standard,none,70,82,77
7,0,group E,some high school,standard,none,82,81,82
8,1,group C,associate's degree,standard,completed,76,74,73
9,0,group D,some college,free/reduced,none,64,78,72

In [10]:
le.classes_

array(['female', 'male'], dtype=object)

## One Hot representation

In [11]:
pd.get_dummies(exam_data['race/ethnicity'])

    group A  group B  group C  group D  group E
0         0        1        0        0        0
1         0        0        1        0        0
2         0        0        0        0        1
3         0        1        0        0        0
4         0        0        0        0        1
5         1        0        0        0        0
6         0        0        1        0        0
7         0        0        0        0        1
8         0        0        1        0        0
9         0        0        0        1        0
10        0        1        0        0        0
11        1        0        0        0        0
12        0        1        0        0        0
13        1        0        0        0        0
14        0        0        0        1        0
15        0        0        1        0        0
16        0        0        1        0        0
17        0        0        0        1        0
18        0        0        0        0        1
19        0        0        0        1        0
20        0        0        1        0        0
21        0        0        1        0        0
22        0        0        1        0        0
23        0        0        0        0        1
24        0        0        1        0        0
25        0        0        0        1        0
26        0        0        1        0        0
27        0        0        0        0        1
28        0        0        0        1        0
29        0        0        0        1        0
..      ...      ...      ...      ...      ...
70        0        0        1        0        0
71        0        1        0        0        0
72        0        0        0        1        0
73        0        0        0        0        1
74        0        0        0        1        0
75        0        0        0        0        1
76        0        0        0        1        0
77        0        0        0        1        0
78        0        0        0        1        0
79        0        0        0        0        1
80        0        0        0        1        0
81        0        0        1        0        0
82        1        0        0        0        0
83        0        0        1        0        0
84        0        0        1        0        0
85        0        1        0        0        0
86        0        0        0        0        1
87        0        0        1        0        0
88        0        0        0        1        0
89        1        0        0        0        0
90        0        0        0        0        1
91        0        0        0        1        0
92        0        0        1        0        0
93        1        0        0        0        0
94        0        0        0        0        1
95        0        0        1        0        0
96        0        0        0        0        1
97        0        0        1        0        0
98        1        0        0        0        0
99        0        1        0        0        0

[100 rows x 5 columns]

In [12]:
exam_data = pd.get_dummies(exam_data, columns=['race/ethnicity'])

In [13]:
exam_data

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E
0,1,some college,standard,none,72,79,75,0,1,0,0,0
1,0,master's degree,free/reduced,none,32,47,46,0,0,1,0,0
2,1,some college,free/reduced,none,57,51,48,0,0,0,0,1
3,1,bachelor's degree,standard,completed,59,71,66,0,1,0,0,0
4,1,master's degree,standard,none,85,76,73,0,0,0,0,1
5,0,associate's degree,standard,none,84,95,87,1,0,0,0,0
6,1,high school,standard,none,70,82,77,0,0,1,0,0
7,0,some high school,standard,none,82,81,82,0,0,0,0,1
8,1,associate's degree,standard,completed,76,74,73,0,0,1,0,0
9,0,some college,free/reduced,none,64,78,72,0,0,0,1,0
10,1,high school,free/reduced,none,63,74,65,0,1,0,0,0
11,1,associate's degree,standard,none,88,73,75,1,0,0,0,0
12,0,master's degree,standard,completed,65,73,77,0,1,0,0,0
13,0,bachelor's degree,standard,none,72,73,73,1,0,0,0,0
14,1,high school,free/reduced,none,54,67,62,0,0,0,1,0
15,0,associate's degree,free/reduced,completed,65,83,80,0,0,1,0,0
16,1,associate's degree,standard,none,62,46,55,0,0,1,0,0
17,0,bachelor's degree,standard,none,88,93,100,0,0,0,1,0
18,0,high school,standard,none,69,76,76,0,0,0,0,1
19,1,some high school,free/reduced,none,68,55,51,0,0,0,1,0
20,1,some high school,standard,none,64,62,60,0,0,1,0,0
21,0,master's degree,standard,none,80,89,88,0,0,1,0,0
22,1,high school,free/reduced,completed,57,66,58,0,0,1,0,0
23,0,some high school,standard,completed,82,89,87,0,0,0,0,1
24,1,master's degree,standard,none,58,58,61,0,0,1,0,0
25,0,some high school,standard,completed,91,99,96,0,0,0,1,0
26,1,associate's degree,free/reduced,none,64,71,61,0,0,1,0,0
27,0,associate's degree,free/reduced,none,43,51,56,0,0,0,0,1
28,0,associate's degree,standard,none,59,71,77,0,0,0,1,0
29,1,associate's degree,standard,none,87,80,82,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
70,0,associate's degree,free/reduced,none,59,66,69,0,0,1,0,0
71,1,bachelor's degree,standard,none,41,44,37,0,1,0,0,0
72,0,some college,standard,completed,67,81,77,0,0,0,1,0
73,0,associate's degree,standard,completed,98,100,100,0,0,0,0,1
74,0,bachelor's degree,standard,none,79,84,88,0,0,0,1,0
75,1,high school,standard,completed,73,66,66,0,0,0,0,1
76,1,bachelor's degree,standard,completed,83,70,78,0,0,0,1,0
77,0,some high school,standard,none,43,54,53,0,0,0,1,0
78,0,some college,standard,completed,94,98,99,0,0,0,1,0
79,0,high school,free/reduced,completed,53,53,59,0,0,0,0,1
80,0,high school,standard,completed,83,93,94,0,0,0,1,0
81,1,some high school,free/reduced,none,27,24,19,0,0,1,0,0
82,1,some college,standard,completed,65,66,64,1,0,0,0,0
83,0,bachelor's degree,standard,none,70,79,80,0,0,1,0,0
84,1,some college,free/reduced,completed,54,61,64,0,0,1,0,0
85,1,associate's degree,standard,none,91,85,79,0,1,0,0,0
86,1,high school,standard,completed,100,100,94,0,0,0,0,1
87,0,associate's degree,standard,none,78,86,85,0,0,1,0,0
88,1,some high school,standard,none,54,40,41,0,0,0,1,0
89,1,some college,free/reduced,completed,56,64,58,1,0,0,0,0
90,0,associate's degree,free/reduced,completed,60,65,68,0,0,0,0,1
91,1,associate's degree,free/reduced,none,73,80,76,0,0,0,1,0
92,1,associate's degree,standard,completed,73,78,75,0,0,1,0,0
93,1,some college,free/reduced,none,67,62,57,1,0,0,0,0
94,0,bachelor's degree,free/reduced,none,90,90,90,0,0,0,0,1
95,0,some high school,standard,completed,64,76,76,0,0,1,0,0
96,1,associate's degree,free/reduced,none,54,49,46,0,0,0,0,1
97,0,high school,standard,none,67,77,75,0,0,1,0,0
98,1,master's degree,free/reduced,completed,64,65,65,1,0,0,0,0
99,1,bachelor's degree,free/reduced,none,50,50,47,0,1,0,0,0

In [14]:
exam_data = pd.get_dummies(exam_data, columns=['parental level of education', 'lunch', 'test preparation course'])

In [16]:
exam_data.head()

,gender,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
0,1,72,79,75,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1
1,0,32,47,46,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1
2,1,57,51,48,0,0,0,0,1,0,0,0,0,1,0,1,0,0,1
3,1,59,71,66,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0
4,1,85,76,73,0,0,0,0,1,0,0,0,1,0,0,0,1,0,1