In [1]:
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
corpus = [ 'This is the first document',
        'This is the second document',
        'Third document. Document number three',
        'Number four. To repeat, number four']

In [3]:
vectorizer = CountVectorizer()
bag_of_words = vectorizer.fit_transform(corpus)

bag_of_words

<4x12 sparse matrix of type '<class 'numpy.int64'>'
	with 18 stored elements in Compressed Sparse Row format>

In [4]:
print(bag_of_words)

  (0, 0)	1
  (0, 1)	1
  (0, 7)	1
  (0, 3)	1
  (0, 9)	1
  (1, 6)	1
  (1, 0)	1
  (1, 7)	1
  (1, 3)	1
  (1, 9)	1
  (2, 10)	1
  (2, 4)	1
  (2, 8)	1
  (2, 0)	2
  (3, 5)	1
  (3, 11)	1
  (3, 2)	2
  (3, 4)	2

In [6]:
vectorizer.vocabulary_.get('document')

0

In [7]:
vectorizer.vocabulary_

{'document': 0,
 'first': 1,
 'four': 2,
 'is': 3,
 'number': 4,
 'repeat': 5,
 'second': 6,
 'the': 7,
 'third': 8,
 'this': 9,
 'three': 10,
 'to': 11}

In [8]:
import pandas as pd
print(pd.__version__)

0.20.1

In [9]:
pd.DataFrame(bag_of_words.toarray(), columns = vectorizer.get_feature_names())

,document,first,four,is,number,repeat,second,the,third,this,three,to
0,1,1,0,1,0,0,0,1,0,1,0,0
1,1,0,0,1,0,0,1,1,0,1,0,0
2,2,0,0,0,1,0,0,0,1,0,1,0
3,0,0,2,0,2,1,0,0,0,0,0,1

In [10]:
#TfIdfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
bag_of_words = vectorizer.fit_transform(corpus)

In [11]:
print(bag_of_words)

  (0, 9)	0.43584673255
  (0, 3)	0.43584673255
  (0, 7)	0.43584673255
  (0, 1)	0.552816315109
  (0, 0)	0.352855492979
  (1, 9)	0.43584673255
  (1, 3)	0.43584673255
  (1, 7)	0.43584673255
  (1, 0)	0.352855492979
  (1, 6)	0.552816315109
  (2, 0)	0.619139506794
  (2, 8)	0.485000839571
  (2, 4)	0.382380232698
  (2, 10)	0.485000839571
  (3, 4)	0.541279948942
  (3, 2)	0.686544981228
  (3, 11)	0.343272490614
  (3, 5)	0.343272490614

In [12]:
vectorizer.vocabulary_.get('document')

0

In [14]:
#Cell will contain Tf-idf score
pd.DataFrame(bag_of_words.toarray(), columns = vectorizer.get_feature_names())

,document,first,four,is,number,repeat,second,the,third,this,three,to
0,0.352855,0.552816,0.000000,0.435847,0.00000,0.000000,0.000000,0.435847,0.000000,0.435847,0.000000,0.000000
1,0.352855,0.000000,0.000000,0.435847,0.00000,0.000000,0.552816,0.435847,0.000000,0.435847,0.000000,0.000000
2,0.619140,0.000000,0.000000,0.000000,0.38238,0.000000,0.000000,0.000000,0.485001,0.000000,0.485001,0.000000
3,0.000000,0.000000,0.686545,0.000000,0.54128,0.343272,0.000000,0.000000,0.000000,0.000000,0.000000,0.343272

In [15]:
vectorizer.vocabulary_

{'document': 0,
 'first': 1,
 'four': 2,
 'is': 3,
 'number': 4,
 'repeat': 5,
 'second': 6,
 'the': 7,
 'third': 8,
 'this': 9,
 'three': 10,
 'to': 11}

In [18]:
#If we have very large vocabulalry of words we can use hashing vectorizer
from sklearn.feature_extraction.text import HashingVectorizer

vectorizer = HashingVectorizer(n_features=8)
feature_vector= vectorizer.fit_transform(corpus)
print(feature_vector)

  (0, 0)	-0.894427191
  (0, 5)	0.4472135955
  (0, 6)	0.0
  (1, 0)	-0.57735026919
  (1, 3)	0.57735026919
  (1, 5)	0.57735026919
  (1, 6)	0.0
  (2, 0)	-0.755928946018
  (2, 3)	0.377964473009
  (2, 5)	0.377964473009
  (2, 7)	0.377964473009
  (3, 0)	0.316227766017
  (3, 3)	0.316227766017
  (3, 5)	0.632455532034
  (3, 7)	0.632455532034